<mat-card class="team-card">
  <mat-card-header>
    <div mat-card-avatar><app-avatar [imgSource]="avatar" /></div>
    <mat-card-title>{{ name }}</mat-card-title>
    <mat-card-subtitle>{{ leader }}</mat-card-subtitle>
  </mat-card-header>
  <div class="team-card__banner">
    @if (banner) {
      <img [src]="bannerUrl" alt="banner" />
    } @else {
      <p class="team-card__nobanner">{{ componentText.noBanner }}</p>
    }
  </div>
  <mat-card-content class="team-card__content">
    <p>{{ description }}</p>
    <p>{{ componentText.createdAt }}</p>
    <time [dateTime]="createdAt"> {{ createdAt | date: 'dd.MM.yyyy' }} </time>
  </mat-card-content>
</mat-card>
