<div class="main-page" @pageAnimations>
  <h1 class="main-page__heading">Активные команды</h1>
  @if (teamsPaginatedIsLoading$ | async) {
    <div class="main-page-spinner">
      <mat-spinner color="primary" />
    </div>
  } @else {
    <div class="main-page-cards">
      <ng-container *ngIf="teamsPaginatedItems$ | async as items">
        @for (item of items; track item.id) {
          <app-team-card [team]="item" />
        }
      </ng-container>
    </div>
  }
  <div class="main-page-paginator">
    <mat-paginator hidePageSize (page)="handlePageEvent($event)" [length]="length" [pageSize]="1" />
  </div>
</div>
