@if (authUser$ | async) {
  <aside class="sidebar" appSidebarAnimation [isHide]="isHideSidebar()">
    <div class="sidebar-actions">
      <button
        mat-fab
        color="accent"
        data-action
        (click)="clickArrowBack()"
        appButtonRotate
        [isHide]="isHideSidebar()"
        data-test="arrow-back-button">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <h2 class="sidebar-heading mat-subheading-2">{{ componentText.myTeams }}</h2>
    <div class="sidebar-body">
      <div class="sidebar-body-list">
        @if (teamAccessesIsLoading$ | async) {
          <div class="sidebar-body-spinner">
            <mat-spinner />
          </div>
        } @else {
          <mat-list class="sidebar-body-list__self">
            @for (teamAccess of teamAccesses$ | async; track teamAccess.id) {
              <mat-list-item
                [lines]="4"
                [routerLink]="
                  teamAccess.status === teamAccessStatus.ACTIVE
                    ? ['user-team', teamAccess.team.id]
                    : null
                "
                [routerLinkActive]="'active-team'"
                class="sidebar-mat-list-item">
                <div matListItemLine class="sidebar-body-item">
                  <app-avatar
                    matListItemAvatar
                    [name]="teamAccess.team.name"
                    [imgSource]="teamAccess.team.avatar || ''" />
                  <span matListItemTitle class="sidebar-body-item__name">{{
                    teamAccess.team.name
                  }}</span>
                </div>
                @if (teamAccess.status === teamAccessStatus.PENDING) {
                  <div matListItemLine class="sidebar-body-item__accepting">
                    <button
                      mat-flat-button
                      color="accent"
                      (click)="acceptingButtonHandler(teamAccess.team.id)">
                      {{ componentText.acceptingBtn }}
                    </button>
                    <button
                      mat-flat-button
                      color="warn"
                      (click)="declineButtonHandler(teamAccess.team.id)">
                      {{ componentText.decliningBtn }}
                    </button>
                  </div>
                }
              </mat-list-item>
            }
          </mat-list>
        }
      </div>
      <div class="sidebar-body-actions">
        <button mat-fab [matTooltip]="componentText.createTeam" [routerLink]="['create-team']">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
  </aside>
}
