<div #pageContainer class="user-team" @pageAnimations>
  @if (isActiveTeamAccessLoading$ | async) {
    <div class="user-team-loader">
      <mat-spinner />
    </div>
  } @else {
    <ng-container *ngIf="activeTeamAccess$ | async as teamAccess">
      <div class="user-team-banner">
        @if (teamAccess.team.banner) {
          <img [src]="uploadLink + teamAccess.team.banner" alt="team-banner" />
        }
      </div>
      <div class="user-team-avatar">
        <app-avatar [name]="teamAccess.team.name" [imgSource]="teamAccess.team.avatar" />
        <h1 class="user-team-avatar__name">{{ teamAccess.team.name }}</h1>
      </div>
      <div class="user-team-leader">
        <span class="user-team-leader__subtitle">{{ componentText.leader }}</span>
        <h2 class="user-team-leader__heading">
          {{ teamAccess.team.leader.username }}
        </h2>
      </div>
      <div class="user-team-chat">
        <button
          mat-flat-button
          color="accent"
          [routerLink]="['/team-chat', teamAccess.team.teamChat.id]">
          {{ componentText.chat }}
        </button>
      </div>
      <div class="user-team-tabs">
        <mat-tab-group color="accent">
          <mat-tab [label]="componentText.tabs.projects">
            <app-projects-list />
          </mat-tab>
          <mat-tab [label]="componentText.tabs.members"> Здесь будет список участников... </mat-tab>
          <mat-tab [label]="componentText.tabs.statistics">
            Здесь будет статистика команды...
          </mat-tab>
          <mat-tab [label]="componentText.tabs.edit">
            Здесь будет форма для редактирования команды
          </mat-tab>
        </mat-tab-group>
      </div>
    </ng-container>
  }
</div>
