.projects-list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;

  &-create {
    display: flex;
    overflow: hidden;

    button {
      flex: 1;
    }
  }

  &-self {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__list {
      flex-grow: 1;
      height: 100px;
      overflow-y: auto;
    }

    &__item {
      cursor: pointer;
    }
  }
}
